/BlockChain/nbproject/private/
/BlockChain/BlockChain-war/nbproject/private/
/BlockChain/BlockChain-ejb/nbproject/private/
/BlockChain/BlockChain-ejb/build/
/BlockChain/build/
/BlockChain/dist/
/BlockChain/BlockChain-ejb/dist/
/BlockChain/BlockChain-war/dist/
/BlockChain/BlockChain-war/build/
/JavaEE8SecurityApp/nbproject/private/
/JavaEE8SecurityApp/JavaEE8SecurityApp-war/nbproject/private/
/JavaEE8SecurityApp/JavaEE8SecurityApp-ejb/nbproject/private/
/program8/nbproject/private/
/program8/build/
/JMSDemo/nbproject/private/
/JMSDemo/build/
/JSFCrud/nbproject/private/
/JSFCrud/JSFCrud-war/nbproject/private/
/JSFCrud/JSFCrud-ejb/nbproject/private/
/JSFCrud/JSFCrud-ejb/build/
/JSFCrud/JSFCrud-war/build/
/JSFCrud/JSFCrud-ejb/dist/
/JSFCrud/JSFCrud-war/dist/
/JSFCrud/dist/
/JSFCrud/build/